@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.LandingPage {
    font-family: "Inter", sans-serif;

    button,
    input,
    select {
        font-family: "Inter", sans-serif;
    }


    .Nav {
        height: 65px;
        background: white;
        border-bottom: 1px solid #EDEDED;
        box-shadow: 0px 1px 20px 0px #ebebeb;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 25px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;

        .Logo {
            font-size: 25px;
            font-weight: 600;
            color: #041527;
        }

        .Btns {
            display: flex;

            button {
                font-size: 15px;
                font-weight: 600;
                padding: 8px 20px;
                margin-left: 10px;
                border: none;
                background: #FF4D00;
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }

            button:hover {
                opacity: 0.85;
            }

            button:active {
                transform: scale(0.9);
            }

            button:nth-child(1) {
                background: white;
                color: black;
                border: 1px solid #EDEDED;
            }

        }
    }


    .HeroSection {
        .MainLine {
            font-size: 60px;
            font-weight: 700;
            text-align: center;
            margin-top: 100px;

            span {
                background: -webkit-linear-gradient(286deg, #ff4d00, #ff01eb);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .SubLine {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            margin-top: 10px;
        }

        button {
            font-size: 18px;
            font-weight: 600;
            padding: 15px 20px;
            margin: 10px auto;
            border: none;
            background: #FF4D00;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin-top: 30px;
        }

        @media screen and (max-width: 768px) {
            .MainLine {
                font-size: 50px;
            }

            .SubLine {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 425px) {
            .MainLine {
                font-size: 40px;
            }

            .SubLine {
                font-size: 16px;
            }

            button {
                font-size: 16px;
            }

        }

    }

    .TrendingTemplates{
        padding: 20px 20px;
        background: #f3f3f3;
        margin-top: 50px;
        .Title {
            font-size: 20px;
            font-weight: 500;
        }

        .templateswrap {
            overflow-x: auto;
            .templates {
                width: fit-content;
                display: flex;
                align-items: center;
                margin-top: 20px;
                .templates {
                    width: 200px;
                    height: 300px;
                    border-radius: 10px;
                    margin-right: 20px;
                    border: 1px solid #202020;
                }
            }
        }
     
        
       
    }

    .Testimonials {
        .MainLine {
            font-size: 60px;
            font-weight: 700;
            text-align: center;
            margin-top: 100px;
        }

        .SubLine {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            margin-top: 10px;
        }


        .marquee {
            margin-top: 50px;
            padding-bottom: 60px;
            border-bottom: 1px solid #EDEDED;

            .tweet {
                width: 300px;
                border: 1px solid #dfdfdf;
                display: block;
                border-radius: 10px;
                padding: 10px;
                height: fit-content;


                .top {
                    display: flex;
                    align-items: start;
                    justify-content: space-between;


                    .left {
                        display: flex;
                        align-items: center;

                        img {
                            height: 50px;
                            border-radius: 100%;
                        }

                        .info {
                            display: block;
                            text-align: left;
                            margin-left: 10px;


                            .name {
                                font-size: 15px;
                                font-weight: 500;
                            }

                            .username {
                                font-size: 13px;
                                font-weight: 400;
                                margin-top: -3px;
                                color: #556372;
                            }
                        }

                    }



                    .right img {
                        height: 25px;
                    }

                }


                .msg {
                    display: block;
                    text-align: left;
                    margin-top: 10px;
                    font-size: 13px;
                }

            }

        }


        @media screen and (max-width: 768px) {
            .MainLine {
                font-size: 50px;
            }

            .SubLine {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 425px) {
            .MainLine {
                font-size: 30px;
                padding: 0px 20px;
            }

            .SubLine {
                font-size: 15px;
                padding: 0px 20px;
            }


        }

    }


    .RightText1 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 80px 40px;
    
        .text {
            width: 40%;
    
            .title {
                font-size: 40px;
                font-weight: bold;
                color: #041527;
            }
            
            .subtitle {
                font-size: 20px;
                font-weight: 400;
                color: #041527;
                margin-top: 10px;
            }
            
        }
    
        img {
            width: 600px;
            border-radius: 20px;
        }
    
        @media screen and (max-width: 1233px) {
            img {
                width: 550px;
                border-radius: 20px;
            }
    
        }
    
        @media screen and (max-width: 900px) {
    
            img {
                width: 350px;
                border-radius: 20px;
            }
    
        }
    
        
    
    @media screen and (max-width: 800px) {
    
        .text {
            width: 100%;
               
            .title {
                font-size: 30px;
            }
            
            .subtitle {
                font-size: 15px;
            }
    
        }
    
        img {
            border-radius: 5px;
            width: 100%;
            margin-top: 20px;
        }
    
    }


        
    }
    
    @media screen and (max-width: 800px) {
    
        .RightText1 {
            display: block;
        }
    
    }
    

    .LeftText {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 80px 40px;
    
        .text {
            width: 40%;
    
            .title {
                font-size: 40px;
                font-weight: bold;
                color: #041527;
            }
            
            .subtitle {
                font-size: 20px;
                font-weight: 400;
                color: #041527;
                margin-top: 10px;
            }
            
        }
    
        img {
            width: 600px;
            border-radius: 20px;
        }
        
    
        @media screen and (max-width: 1233px) {
            img {
                width: 550px;
                border-radius: 20px;
            }
    
        }
    
        @media screen and (max-width: 900px) {
    
            img {
                width: 350px;
                border-radius: 20px;
            }
    
        }
    
            
    
    @media screen and (max-width: 800px) {
    
        .text {
            width: 100%;
               
            .title {
                font-size: 30px;
            }
            
            .subtitle {
                font-size: 15px;
            }
    
        }
    
        img {
            border-radius: 5px;
            width: 100%;
            margin-bottom: 20px;
        }
    
    }

    
    }

    
    @media screen and (max-width: 800px) {
    
        .LeftText {
            display: block;
            margin-top: -70px;
        }
    
    }
        

    .RightText2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 80px 40px;
    
        .text {
            width: 40%;
    
            .title {
                font-size: 40px;
                font-weight: bold;
                color: #041527;
            }
            
            .subtitle {
                font-size: 20px;
                font-weight: 400;
                color: #041527;
                margin-top: 10px;
            }
            
        }
    
        img {
            width: 600px;
            border-radius: 20px;
        }
        
    
        @media screen and (max-width: 1233px) {
            img {
                width: 550px;
                border-radius: 20px;
            }
    
        }
    
        @media screen and (max-width: 900px) {
    
            img {
                width: 350px;
                border-radius: 20px;
            }
    
        }
    
            
    
    @media screen and (max-width: 800px) {
    
        .text {
            width: 100%;
    
            
            .title {
                font-size: 30px;
            }
            
            .subtitle {
                font-size: 15px;
            }
    
        }
    
        img {
            border-radius: 5px;
            width: 100%;
            margin-top: 20px;
        }
    
    }
        
    
    }
    
    
    @media screen and (max-width: 800px) {
    
        .RightText2 {
            display: block;
            margin-top: -70px;
        }
    
    }
    
 
    
    .LastCall{
        
        .circle {
            width: 100%;
            height: 500px;
            overflow: hidden;
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;
            margin-top: -260px;
            background: linear-gradient(0deg, #ff4d003b, white);
    
           
        }
        
      
    
        .lastform {
            width: 60%;
            background: #4A004B;
            border-radius: 20px;
            margin: 10px auto;
            margin-top: -150px;
            text-align: center;
            padding: 80px 0px;
    
              
        .title {
            font-size: 40px;
            font-weight: 500;
            color: white;
            margin-bottom: 15px
        }
        
        button {
            font-size: 15px;
            font-weight: 600;
            padding: 8px 20px;
            margin-left: 10px;
            border: none;
            background: white;
            color: #FF4D00;
            border-radius: 5px;
            cursor: pointer;
        }
    
    
        @media screen and (max-width: 500px) {
    
    
            .title {
                font-size: 25px;
            }
        
        }
    
        button:hover {
            opacity: 0.85;
        }
    
        button:active {
            transform: scale(0.95);
        }
        
    
        }
    
        @media screen and (max-width: 500px) {
    
            .circle {
                width: 100%;
                height: 300px;
                margin-top: -120px;
               
            }
    
            .lastform {
                width: 90% !important;
                margin-top: -120px !important;
                padding: 40px 0px;
            }
        
        }
    
        }
    
    

        .Footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 50px;
            border-top: 1px solid #EDEDED;
            margin-top: 80px;
        
            .footerright{
                display: flex;
                img {
                    height: 25px;
                    margin-left: 25px;
                }
            }
        
        
            .links {
                display: flex;
                align-items: center;
        
                a {
                    font-size: 15px;
                    margin-left: 45px;
                }
            }
            
        }
        
        
        @media screen and (max-width: 900px) {
        
            .Footer {
                display: block;
                padding: 30px 20px;
        
                .footerright {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 30px;
                }
                .links {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        margin-left: 5px;
                        font-size: 12px;
                    }
                }
            }
        
        }


}